banner{
  /* background-color: #16182a87; */
  /* background-color: #2a2e51a6; */
  background-color: black;

  min-height: 95vh;
  display: grid;
  /* justify-content: center; */
  align-items: center;
  background-image:url(../img/banner_background_3.png);

    /* fondo enixia animada: ; */
/* 
  background-image:url( https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExOXFydTB6aTAzc3BvZGhhcXo3Y2xucWszamIwNWs0dWg3ZDZ5amo2dCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/tMrQOx67hSwu6idlSj/giphy.gif); */
 
 /*   background-image:  url("7.gif"); */
 /* background-image: url(banner_background.png), url("1.gif"); */
   /* background-blend-mode: screen;    */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* efecto: glitch */
  /* background-image: url(banner_background.png), url("8.gif");background-blend-mode: multiply;  */
}

banner mobile_nav{
  display: block;
  height: 35px;
  width: 35px;
  position: absolute;
  top: 0;
  /* background-color: red; */
  padding: 20px;
  color: white;

}

banner mobile_nav button{
  background-color: transparent;
    border: none;
    height: 150px;
    width: 150px;
    color: white;
    height: auto;
    width: 35px;
}

banner mobile_menu button{
  background-color: transparent;
    border: none;
    height: 150px;
    width: 150px;
    color: white;
    height: auto;
    width: 35px;
    position: absolute;
    top: 20px;
    right: 20px;
}

#mobile_menu{
  background-color:  #0a0a0c;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 9000000000000000000;
  left: -100%;
  transition: 0.5s ;
  display: flex;
    justify-content: center;
    align-items: center;
}
#mobile_menu a{
  text-decoration: none;
  color: #ffffffbf;
  /* opacity: 0; */
  color: white;
  padding: 10px;
  /* border-right: 4px solid #ffffff1a; */
  transform: scale(1, 1.1);
  font-family: system-ui;
  font-size: 22px;
  text-transform: uppercase;

  font-weight: 600;

}
banner nav{
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  padding: 30px;
  padding-right: 50px;
  font-size: 17px;
  text-transform: uppercase;
  display: flex;
  font-weight: 600;
}
banner nav div{
  /* margin-right: 15px; */
}
banner nav a{
  text-decoration: none;
  color: #ffffffbf;
  /* opacity: 0; */
  color: white;
  padding: 10px;
  /* border-right: 4px solid #ffffff1a; */
  transform: scale(1, 1.1);
      font-family: system-ui; 
      opacity: 0.6; 
    

/* 
      animation: FadeIn 1s forwards;
      animation-delay: 2s; */
}

/* .element:hover> a::after */
.element:hover>  a::after {
  content: ' ';
  /* width: 100%; */
  background-color: white;
  height: 2px;
  width: 100%;
  left: 0%;
  display: flex;
  position: absolute;
  bottom: -2px;
  /* left: 0; */
  /* justify-content: center; */
  /* align-items: center; */
  /* text-align: center; */
  left: 0%;
 
}
nav a{
text-align: center;
position: relative;
}
nav  a::after {
content: ' ';
  /* width: 100%; */
  background-color: white;
  height: 2px;
  width: 0%;
  left: 50%;
  display: flex;
  transition: all 0.2s ease;
  position: absolute;
  bottom: -2px;

  /* left: 0; */
  /* justify-content: center; */
  /* align-items: center; */
  /* text-align: center; */

}



banner nav a:visited{
  color: #ffffffbf;
  color: white;
}



banner nav a:hover{
  /* background-color: white;
  color: black; */
  /* opacity: 0.5; */
  color: #e79d2e;
  color: white;
  opacity: 1;
}

.mobile-only{
  display: none;
}
@media only screen and (max-width:750px){
.desktop-only{display: none;}

.mobile-only{display: inherit;}
}


banner h1{
  font-family: "Staatliches", sans-serif;
  font-size: 7.5em;
  text-transform: uppercase;
  color: white;
  margin-bottom: 0px;
  margin-top: 0px;
  font-weight: 100;
  line-height: 0.85em;
  margin-bottom: 15px;
  
  opacity: 0;
  animation-name: bounceIn;
  animation-duration: 450ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
  text-align: center;

}
@media only screen and (max-width: 768px){
  banner h1 {
    margin-bottom: 30px;
  }
}

banner #social_links_container{
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
  justify-content: center;
  max-width: 500px;
  margin: 0 auto;
  padding: 5px;
  margin-bottom: 25px;
  margin-top: 7px;
}


/* banner #social_links_container a:hover{margin-top: -10px;} */
#social_links_container a {
padding: 6px;
padding-top: 11px;
padding-left: 10px;
padding-right: 10px;
padding-bottom: 9px;
border-radius: 6px;
margin-left: 10px;
margin-right: 10px;
color: white;
/* background-color: #1b1c2b!important; */
opacity: 0;
animation-name: bounceIn;
animation-duration: 450ms;
animation-timing-function: linear;
animation-fill-mode: forwards;
}
#social_links_container a:hover{
  outline: 2px solid white;
}
#twitter_btn {
background-color: #2daae2;
fill: white;
animation-delay: 1s;
}
#facebook_btn {
background-color: #4064ac;
fill: white;
animation-delay: 1.10s;
}
#github_btn {
background-color: #1b1c2b;
fill: white;
animation-delay: 1.20s;
}
#instagram_btn {
background-color: #b12388;
fill: white;
animation-delay: 1.30s;
}
#kofi_btn{
display: block;
color: white;
-webkit-font-smoothing: antialiased;
text-align: center;


 /* background-color: #1b1c2b!important; */
 opacity: 0;
animation-name: bounceIn;
animation-duration: 450ms;
animation-timing-function: linear;
animation-fill-mode: forwards;
animation-delay: 2.00s;


/* background-color: #17bee5;
padding: 0px;
width: fit-content;
margin: auto;

cursor: pointer;
 */
}
/* #kofi_btn img {
height: 55px;
margin-left: 15px;
margin-right: 15px;
} */


#btn_kofi{

  display: inline-block!important;
  white-space: nowrap;
  min-width: 160px;
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
  /* line-height: 35px!important; */
  min-width: 180px;
  display: inline-block!important;
  background-color: #29abe0;
  padding: 12px 1px !important;
  text-align: center !important;
  /* border-radius: 12px; */
  color: #fff;
  cursor: pointer;
  overflow-wrap: break-word;
  vertical-align: middle;
  border: 0 none #fff !important;
  font-family: 'Nunito',sans-serif;
  /* font-family: 'Quicksand',Helvetica,Century Gothic,sans-serif !important; */
  text-decoration: none;
  text-shadow: none;
  font-weight: 700!important;
  font-size: 18px !important;
  /* background-image: url(../cofee-btn-background.svg); */
  background-position: center;
  background-size: cover;
  border-radius: 5px;
}
#btn_kofi:hover{ outline: 2px solid white;
}
.kofitext img.kofiimg {
  height: 15px!important;
  width: 22px!important;
  display: initial;
  animation: kofi-wiggle 3s infinite;
}
.kofitext img.kofiimg {
height: 18px !important;
  width: 25px !important;
  display: initial;
  font-weight: bold;
  margin-left: 46px;
  padding-right: 10px;
}
img.kofiimg {
  display: initial!important;
  vertical-align: middle;
  height: 13px!important;
  width: 20px!important;
  padding-top: 0!important;
  padding-bottom: 0!important;
  border: none;
  margin-top: 0;

  margin-left: 0!important;
  margin-bottom: 3px!important;
 
}
span.kofitext {
  color: #fff !important;
  letter-spacing: -0.15px!important;
  text-wrap: none;
  vertical-align: middle;
  line-height: 33px !important;
  padding: 0;
  text-align: center;
  text-decoration: none!important;
  text-shadow: 0 1px 1px rgba(34, 34, 34, 0.05);
}


@keyframes kofi-wiggle{
0% {
  transform: rotate(0) scale(1);
}
60% {
  transform: rotate(0) scale(1);
}
75% {
  transform: rotate(0) scale(1.12);
}
80% {
  transform: rotate(0) scale(1.1);
}
84% {
  transform: rotate(-10deg) scale(1.1);
}
88% {
  transform: rotate(10deg) scale(1.1);
}
92% {
  transform: rotate(-10deg) scale(1.1);
}
96% {
  transform: rotate(10deg) scale(1.1);
}
100% {
  transform: rotate(0) scale(1);
}
}
